<div class="card card-linked chevron-link">
	<a href="{{url}}" class="card-title-link">
		<h3 style="display:inline;">{{name}} - {{award}}</h3>
	</a>
	<span class="kf-clock tag text-accent"> {{mode_of_study}} </span>
	<span class="kf-pin tag text-accent"> {{campus}} </span> 

	<a href="{{url}}" class="faux-link-overlay" aria-hidden="true">{{name}} - {{award}}</a>
</div>