<div class="card card-linked chevron-link">
	<a href="{{url}}" class="card-title-link">
		<h3>{{sds_code}}: {{title}}</h3>
	</a>
	<a href="{{url}}" class="faux-link-overlay" aria-hidden="true">{{sds_code}}: {{title}}</a>
</div>