<div class="card card-linked chevron-link">
	<a href="{{url}}" class="card-title-link">
		<h3 style="display:inline;">{{name}} - {{course}}</h3>
	</a>
	<a href="{{url}}" class="faux-link-overlay" aria-hidden="true">{{name}} - {{course}}</a>
	<span class="kf-book tag text-accent"> {{__subjects}} </span>
</div>